* {
    box-sizing: border-box;
    background: hotpink;
    font-family: "Nunito", sans-serif;
    color: white;
}

.welcome-logo {
    text-align: center;
}

.welcome-logo img {
    height: 400px;
    width: 1200px;
}

.welcome-logo h1 {
    font-size: 50px;
    letter-spacing: 0.3em;
}

.nav-logo {
    height: 80px;
    width: 200px;
    object-fit: cover;
}
