* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    color: white;
}

header {
    margin-bottom: 50px;
}

.error {
    font-size: larger;
    font-weight: bold;
    color: red;
}

body {
    background: hotpink;
}

.welcome-logo {
    text-align: center;
}

.welcome-logo img {
    height: 300px;
    width: 900px;
}

.welcome-logo h1 {
    margin: 5px 0 50px 0;
    font-size: 50px;
    letter-spacing: 0.3em;
}

.nav-logo {
    height: 80px;
    width: 200px;
    object-fit: cover;
}

.navbar {
    display: flex;
    float: right;
}

.nav-link {
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.nav-link:hover {
    color: slategray;
}

.nav-profile-pic {
    object-fit: cover;
    height: 80px;
    width: 80px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
}

input {
    margin: 5px 5px 5px 0;
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    color: hotpink;
    font-size: larger;
}

::placeholder {
    color: hotpink;
}

.registration {
    text-align: center;
}

.login {
    text-align: center;
}

.reset-password {
    text-align: center;
}

button {
    background: white;
    color: hotpink;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 5px 0 0;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background: hotpink;
    color: white;
}

.uploader-modal {
    position: fixed;
    height: 200px;
    width: 700px;
    left: 50%;
    top: 200px;
    margin-left: -350px;
    text-align: center;
    border: 5px solid white;
    background: slategray;
}

.modal-text {
    margin-top: 40px;
}

.close-modal {
    position: absolute;
    right: 10px;
    margin: 0;
    font-weight: bolder;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-weight: bolder;
    border: 1px solid white;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background: white;
    color: hotpink;
}

.profile {
    display: flex;
}

.profile-pic {
    height: 300px;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.bio {
    margin-left: 50px;
}

.bioName {
    margin-top: 20px;
}

.bio textarea {
    width: 400px;
    height: 150px;
    color: hotpink;
    border-radius: 10px;
    font-size: larger;
}

.editProfile .label {
    font-size: larger;
    font-weight: bolder;
    margin-right: 5px;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

select {
    background: white;
    color: hotpink;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    font-size: larger;
    margin: 5px 5px 5px 0;
}

option {
    color: hotpink;
}

.editorListElement {
    position: relative;
    background: white;
    font-size: larger;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
}

.editorListText {
    color: hotpink;
    margin: 10px;
}

.editorRemoveListElement {
    display: none;
}

.editorListElement:hover .editorRemoveListElement {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 3px;
    font-weight: bolder;
    font-size: 25px;
    line-height: 15px;
    cursor: pointer;
    color: hotpink;
}

/* .editorListElement:hover .editorRemoveListElement:hover {
    text-decoration: underline;
} */

.userCard {
    display: flex;
    margin: 20px 0 20px 0;
    text-decoration: none;
}

.userCard img {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 5px;
    object-fit: cover;
}

.userCard h3 {
    margin-left: 20px;
}

.friendButton {
    display: block;
    width: 250px;
}

.connections {
    display: flex;
    justify-content: space-evenly;
}

.connectionCard {
    display: flex;
    align-items: center;
}

.cardText {
    margin-left: 20px;
}

.cardText h3 {
    margin-bottom: 0;
}

.cardText button {
    width: 75px;
    height: 30px;
    font-size: 15px;
}
